<p>
  <b>Answer:</b>
  <%=h @card.answer %>
</p>
<p><%= link_to 'Next random card', deck_cards_path(@deck) %></p>
<p>
<%= link_to 'Edit', edit_deck_card_path(@deck, @card) %> |
<%= link_to 'Delete', deck_card_path(@deck, @card), :confirm => 'Are you sure?', :method => :delete %>
</p>
