<h1>Editing card</h1>

<% form_for(:card, :url => deck_card_path(@deck, @card), :html =>{:method => :put}) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back to card', deck_card_path(@deck, @card) %> |
<%= link_to "Back to #{@deck.title}", deck_path(@deck) %>