<h1>Random card</h1>
<p><b>Question:</b><br/>
<%= @card.question %>
</p>
<p><%= link_to 'See answer', deck_card_path(@deck, @card) %></p>
<p>
<%= link_to "Back to #{@deck.title}", deck_path(@deck) %>
</p>