<h1><%= ts 'list.ing.records', :what => Deck.human_name(:count => :many) %></h1>

<table>
  <tr>
    <th><%= Deck.human_attribute_name('title').s %></th>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td><%= link_to h(deck.title), deck %></td>
  </tr>
<% end %>
</table>

<br />
<%= authorized_only(hash_for_new_deck_path) { link_to ts('new.record', :what => Deck.human_name(:count => 1)), new_deck_path } %>