<h1>Listing decks</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td><%= link_to h(deck.title), deck %></td>
  </tr>
<% end %>
</table>

<br />
<% if logged_in? %>
<%= link_to 'New deck', new_deck_path %>
<% end %>