<h1><%= ts 'new.record', :what => Deck.human_name(:count => 1) %></h1>

<% form_for(@deck) do |f| %>
<%=  render :partial => 'form', :locals => {:form => f} %>
  <p>
<%=  globalized_submit_tag 'create.this' %>
  </p>
<% end %>

<%= link_to ts('back.to', :what => t(:all, :what => Deck.human_name(:count => :many))), decks_path %>